# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.local

# Data folders (keep structures, ignore data dumps)
data/raw/*
!data/raw/.gitkeep
!data/raw/README.md
data/interim/*
!data/interim/.gitkeep
!data/interim/README.md
data/processed/*
!data/processed/.gitkeep
!data/processed/README.md

# IDEs & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
